@tailwind base;

@layer base {
    body,
    html {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
            sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    }

    .skills {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}

.main pre {
    @apply bg-gray-100 border border-gray-300 p-2 overflow-auto rounded-md;
}

.main code {
    @apply text-gray-800;
}

.main img {
    /* Don't apply styles to next/image */
    @apply m-0;
}

@screen sm {
    .main h1,
    .main h2,
    .main h3,
    .main h4,
    .main h5,
    .main h6,
    .main p,
    .main ul,
    .main ol,
    .main blockquote {
        @apply constrain;
        margin-left: auto;
        margin-right: auto;
    }

    .main ul,
    .main ol {
        padding-left: 1.5rem;
    }
}

.token.prolog {
}
.token.doctype,
.token.cdata {
    @apply text-gray-700;
}

.token.comment {
    @apply text-gray-400;
}

.token.punctuation {
    @apply text-gray-700;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    @apply text-green-600;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    @apply text-purple-500;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    @apply text-yellow-500;
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.unit {
    @apply text-blue-500;
}

.token.function,
.token.class-name {
    @apply text-pink-500;
}

.token.regex,
.token.important,
.token.variable {
    @apply text-yellow-500;
}

code[class*='language-'],
pre[class*='language-'] {
    @apply text-gray-800;
}

pre::-webkit-scrollbar {
    display: none;
}

pre {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

@tailwind components;
@tailwind utilities;
